

/* ==========================================================================
   Arianna Marin's custom styles
   ========================================================================== */
@font-face {
    font-family: 'iconfont';
    src: url('fonts/glyphicons-halflings-regular.woff');
}
body {
  color: #2E6DA4;
}
.navbar-inverse .navbar-brand {
    color: #F5F5F5;
}
/* input field styles aka form styles */
.form-control {
  border-radius: 0px;
  width: 75%;
}
input[aria-invalid="true"] {
  border: solid 1px #E82C0C;
}
input [aria-invalid="false"] {
  font-family: iconfont;
  content: '\e125';
  z-index: 10;
  margin-left: -40px;

}
#cvv {
  width: 150px;
}
.error {
  color: #E82C0C;
}
.valid {
  color: #2CA61C;
}
.btn-success {
  background-image: linear-gradient(to bottom,#2196F3 0,#00BCD4 100%);
  background-color: #00BCD4;
  color: #F5F5F5;
  border-color: #2196F3;
}
.btn-success:hover {
  background-color: #00BCD4;
  background-position: 0 -15px;
  border-color: #00BCD4;
}
footer p {
  color: #FF9800;
}
a:hover {
  color: #FFC107;
  text-decoration: none;
}

/* example phone number validation styles from codepen
input[type="tel"] {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
input[type="tel"]:focus {
  border: 1px solid #000;
}

input[type="submit"] {
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  background: #3b5998;
  color:#fff;
}

form {
  width: 50%;
  margin: 0 auto;
}

.p {
  padding-top: 30px;
}
*/
